@inherits Fluxor.Blazor.Web.Components.FluxorComponent

@if (RecipTypesState.Value.IsLoading)
{
    <Loader />
}
else
{
    <div>

        <div>
            <CustomInputSearch OnInputCallback="UpdateRecipTypeSearchTerm" @bind-Value="searchTerm" />
        </div>

        @if (RecipTypesState.Value.RecipTypes == null || RecipTypesState.Value.RecipTypes.Count() == 0)
        {
            <div>vide</div>
        }
        else
        {
            <div class="recipTypes">
                @foreach (var RecipType in RecipTypesState.Value.RecipTypes)
                {
                    <Tag Content="@RecipType.Name" Icon="@Icon" Size="@Size" Style="@Style"
                        OnClickCallback="@(async () => await OnTagClick(RecipType))" />
                }
            </div>
        }

    </div>
}