@page "/nutrimenttypes"
@inherits Fluxor.Blazor.Web.Components.FluxorComponent

<h3>Nutriment Types List</h3>

@if (NutrimentTypeState.Value.IsLoading)
{
    <Loader/>
}
else
{
    <div class="addNutrimentType-button">
        <Button Type="button" Text="Ajout" OnClickCallback="ShowNutrimentTypeForm" />
    </div>

    <div>

        <Modal Hidden="NutrimentTypeState.Value.IsNutrimentTypeFormHidden" OnCloseCallback="CloseNutrimentTypeForm">
            <Content>
                <div class="creation-form">
                    <EditForm Model="Model" OnValidSubmit="@Submit">
                        <DataAnnotationsValidator />

                        @* Name *@
                        <div>
                            <CustomInputText Label="Name" @bind-Value="@Model.Name" />
                        </div>

                        @* SvgImage *@
                        <div>
                            <CustomInputText Label="Image" @bind-Value="@Model.SvgImage" />
                        </div>

                        @* SvgImage visualization *@
                        @* <div>
                    @((MarkupString) Model.SvgImage)
                    </div> *@

                        @* Submit *@
                        <div>
                            <Button Type="submit" Text="Submit" />
                        </div>

                    </EditForm>
                </div>
            </Content>
        </Modal>
    </div>


    if (NutrimentTypeState.Value.NutrimentTypes == null || NutrimentTypeState.Value.NutrimentTypes.Count() == 0)
    {
        <div>Pas de nutriment</div>
    }
    else
    {
        <div class="nutriment-type-cards">
            @foreach (var nutrimentType in NutrimentTypeState.Value.NutrimentTypes)
            {
                <Card Title="@nutrimentType.Name" CardSvgImage="@nutrimentType.SvgImage" OnClickCallback="async () => await RemoveNutrimentType(nutrimentType.Id)" />
            }
        </div>
    }
}