@page "/selectedRecipHistories/{Id}"
@inherits Fluxor.Blazor.Web.Components.FluxorComponent

<h3>SelectedRecipHistory</h3>

<div>@SelectedRecipHistoriesState.Value.SelectedRecipHistory.Date.ToString()</div>

@if (SelectedRecipHistoriesState.Value.IsLoading)
{
    <Loader />
}
else
{
    
    if (SelectedRecipHistoriesState.Value.SelectedRecipHistory.Recips == null || SelectedRecipHistoriesState.Value.SelectedRecipHistory.Recips.Count() == 0)
    {
        <div>vide</div>
    }
    else
    {
        <div class="selectedRecipHistories">
            @foreach (var recip in SelectedRecipHistoriesState.Value.SelectedRecipHistory.Recips)
            {
                <CardWithImage Title="@recip.Name" ImageUrl="@recip.ImageUrl" OnClickCallback="async () => await RedirectToRecipDetailsPage(recip.Id)"/>
            }
        </div>
    }

    @* Delete button *@
    <div>
        <Button Type="button" Text="Remove" OnClickCallback="@(async () => await RemoveSelectedRecipHistory())" />
    </div>
    
    @* Selected Recip Histories go back button *@
    <div>
    <Button Type="button" Text="Return" OnClickCallback="@(async () => await RedirectToSelectedRecipHistoriesPage())" />
</div>
}