@page "/ingredients"
@inherits Fluxor.Blazor.Web.Components.FluxorComponent

<h3>Ingredients</h3>

@if (IngredientState.Value.IsLoading)
{
    <Loader />
}
else
{
    <div class="addingredient-button">
        <Button Type="button" Text="Ajout" OnClickCallback="@(async () => await ShowIngredientForm(Enums.FormMode.Creation))" />
    </div>

    <div>

        <Modal Hidden="IngredientState.Value.IsIngredientFormHidden" OnCloseCallback="CloseIngredientForm" Title="@TitleIngredientModal">
            <Content>
                <div class="creation-form">
                    <EditForm Model="IngredientState.Value.Ingredient" OnValidSubmit="@SaveIngredient">
                        <DataAnnotationsValidator />

                        @* Name *@
                        <CustomInputText Label="Name" @bind-Value="@IngredientState.Value.Ingredient.Name" />

                        @* ImageUrl *@
                        <CustomInputText Label="Image" @bind-Value="@IngredientState.Value.Ingredient.ImageUrl" />

                        <h3>Nutriments</h3>
                        <ValidationMessage For="() => IngredientState.Value.Ingredient.Nutriments" />

                        @* SelectedNutriments *@
                        <div class="selected-nutriment">
                            @if (IngredientState.Value.Ingredient.Nutriments != null)
                            {
                                foreach (var nutriment in IngredientState.Value.Ingredient.Nutriments)
                                {
                                    <Tag Content="@nutriment.Name" IsRemovable="true" OnClickCallback="@(async() => await RemoveSelectedNutriment(nutriment))" />
                                }
                            }
                        </div>

                        @* Nutriments *@
                        <div class="nutriments">
                            @if (NutrimentsState.Value.Nutriments != null)
                            {
                                var nutriments = NutrimentsState.Value.Nutriments.Where(n => !IngredientState?.Value?.Ingredient?.Nutriments!.Any(nu => nu.Id == n.Id) ?? false);
                                foreach (var nutriment in nutriments)
                                {
                                    <Tag Content="@nutriment.Name" IsAddable="true" OnClickCallback="@( async () => await AddSelectedNutriment(nutriment))" />
                                }
                            }
                        </div>

                        @* Submit *@
                        <div>
                            <Button Type="submit" Text="Submit" />
                        </div>

                    </EditForm>

                    @if (FormMode == Enums.FormMode.Update)
                    {
                        @* Remove ingredient button *@
                        <div class="delete-ingredient">
                            <Button Type="button" Text="Remove" OnClickCallback="@(async () => await RemoveIngredient(IngredientState.Value.Ingredient.Id))" ButtonStyle="Enums.Style.Error" />
                        </div>
                    }
                </div>
            </Content>
        </Modal>
    </div>

    if (IngredientState.Value.Ingredients == null || IngredientState.Value.Ingredients.Count() == 0)
    {
        <div>Pas d'ingredients'</div>
    }
    else
    {
        <div class="ingredient-type-cards">
            @foreach (var ingredient in IngredientState.Value.Ingredients.OrderBy(i => i.Name))
            {
                <Card Title="@ingredient.Name" OnClickCallback="@(async () => await ShowIngredientForm(Enums.FormMode.Update, ingredient.Id))">
                    <Content>
                        <div class="ingredient-card">

                            <img src="@ingredient.ImageUrl" alt="@ingredient.Name" />

                        </div>
                    </Content>
                </Card>
            }
        </div>
    }
}