@page "/selectedRecipHistories"
@inherits Fluxor.Blazor.Web.Components.FluxorComponent

@* Add button *@
<RadzenRow AlignItems="AlignItems.Center"
           JustifyContent="JustifyContent.Center"
           class="rz-p-1">
    <RadzenColumn Size="2">
        <RadzenButton Icon="add"
                      Click="@(async () => await GenerateSelectedRecipHistory())"
                      ButtonStyle="ButtonStyle.Secondary"
                      IconColor="@Radzen.Colors.Primary"
                      Size="ButtonSize.Large" />
    </RadzenColumn>

    <RadzenColumn Size="10">
        <RadzenText Text="@LabelTranslationsLocalizer["SelectedRecipHistories"]"
                    TextStyle="TextStyle.DisplayH3"
                    Style="color:var(--rz-secondary)" />
    </RadzenColumn>
</RadzenRow>

@if (SelectedRecipHistoriesState.Value.IsLoading)
{
    <Loader />
}
else
{
    if (SelectedRecipHistoriesState.Value.Items == null ||
    SelectedRecipHistoriesState.Value.Items.Count() == 0)
    {
        <div>@LabelTranslationsLocalizer["Empty"]</div>
    }
    else
    {
        <RadzenRow class="rz-p-1">
            @foreach (var selectedRecipHistory in SelectedRecipHistoriesState.Value.Items)
            {
                <RadzenColumn>
                    <RadzenButton Text="@selectedRecipHistory.Date.ToString()"
                                  Click="@(async () => await RedirectToSelectedRecipHistoryPage(selectedRecipHistory.Id))" />
                </RadzenColumn>
            }
        </RadzenRow>
    }
}