<Card Title="@Title" OnClickCallback="@(async () => await OnTagClick())" Size="@ImageSize">
    <Content>
        <div class="image-card">
            <div class="image"><img alt="@Title" src="@ImageUrl" /></div>
        </div>
    </Content>
</Card>
