@page "/nutriments"
@inherits Fluxor.Blazor.Web.Components.FluxorComponent

<h3>Nutriments</h3>

<AddButton OnClickCallback="@(async () => await RedirectToNutrimentForm(Enums.FormMode.Creation))" />

<NutrimentsSearch Icon="@Enums.Icon.CrossSvg" Size="@Enums.Size.Small" Style="@Enums.Style.Error"
    OnTagClickCallback="@((nutriment) => RemoveNutriment(nutriment.Id))" />