@inherits InputText

<div class="input">

    <InputText Value="@Value" ValueChanged="@ValueChanged" ValueExpression="@ValueExpression" placeholder
        @attributes="AdditionalAttributes" />

    <label>@Label</label>

    @if (EditContext != null)
    {
        foreach (var message in EditContext.GetValidationMessages(FieldIdentifier))
        {
            <div class="validation-message">@message</div>
        }
    }

</div>
