@inherits InputText

<div class="input">
    <InputText Value="@Value" ValueChanged="@ValueChanged" ValueExpression="@ValueExpression" placeholder @attributes="AdditionalAttributes" />
    <label>@Label</label>
    <ValidationMessage For="@(() => test)" />
</div>
