@using bakaChiefApplication.Constants;

<div class="recip-productInfo">
    @if (IsAddable)
    {
        <div class="add-icon" @onclick="Onclick"><Icon IconSvgEnum="Enums.Icon.PlusSvg" IconSize="Enums.Size.Small" IconStyle="Enums.Style.Success" /></div>
    }

    @if (IsRemovable)
    {
        <div class="remove-icon" @onclick="Onclick"><Icon IconSvgEnum="Enums.Icon.CrossSvg" IconSize="Enums.Size.Small" IconStyle="Enums.Style.Error" /></div>
    }

    @* Product Info *@
    <div class="productinfo-name">
        <span>@ProductInfoName</span>
    </div>

    <div class="quantity-measureunit">
        @* Quantity *@
        <div>
            @if (IsAddable)
            {
                <CustomInputNumber Label="Quantity" @bind-Value="@CurrentQuantityValue" />
            }
            else
            {
                <span>@Quantity</span>
            }
        </div>

        @* MeasureUnit *@
        <div>
            @if (IsAddable)
            {
                <CustomInputText Label="MeasureUnit" @bind-Value="@CurrentMeasureUnitValue" />
            }
            else
            {
                <span>@MeasureUnit</span>
            }
        </div>
    </div>

</div>